---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/locations/v1/cities/geoposition/search?apikey=<ACCU_API_KEY>&q=40.7128,-74.006
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '46'
      X-Location-Key:
      - '2627449'
      Akamai-Grn:
      - 0.06cb6068.1743101713.67a58c7
    body:
      encoding: UTF-8
      string: '{"Version":1,"Key":"2627449","Type":"City","Rank":85,"LocalizedName":"Civic
        Center","EnglishName":"Civic Center","PrimaryPostalCode":"10007","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{"ID":"NY","LocalizedName":"New
        York","EnglishName":"New York","Level":1,"LocalizedType":"State","EnglishType":"State","CountryID":"US"},"TimeZone":{"Code":"EDT","Name":"America/New_York","GmtOffset":-4.0,"IsDaylightSaving":true,"NextOffsetChange":"2025-11-02T06:00:00Z"},"GeoPosition":{"Latitude":40.714,"Longitude":-74.003,"Elevation":{"Metric":{"Value":8.0,"Unit":"m","UnitType":5},"Imperial":{"Value":26.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"ParentCity":{"Key":"349727","LocalizedName":"New
        York","EnglishName":"New York"},"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"New
        York","EnglishName":"New York"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyAirQualityForecast","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast","ProximityNotification-Lightning","Radar","TidalForecast"]}'
  recorded_at: Thu, 27 Mar 2025 18:55:13 GMT
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/2627449?apikey=<ACCU_API_KEY>&details=true
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '46'
      Akamai-Grn:
      - 0.2dcb6068.1743101713.4c81183
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2025-03-27T14:47:00-04:00","EpochTime":1743101220,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":8.9,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":8.8,"Unit":"C","UnitType":17,"Phrase":"Chilly"},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"RealFeelTemperatureShade":{"Metric":{"Value":5.4,"Unit":"C","UnitType":17,"Phrase":"Chilly"},"Imperial":{"Value":42.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"RelativeHumidity":19,"IndoorRelativeHumidity":22,"DewPoint":{"Metric":{"Value":-13.3,"Unit":"C","UnitType":17},"Imperial":{"Value":8.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":293,"Localized":"WNW","English":"WNW"},"Speed":{"Metric":{"Value":16.5,"Unit":"km/h","UnitType":7},"Imperial":{"Value":10.2,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":16.5,"Unit":"km/h","UnitType":7},"Imperial":{"Value":10.2,"Unit":"mi/h","UnitType":9}}},"UVIndex":4,"UVIndexText":"Moderate","Visibility":{"Metric":{"Value":16.1,"Unit":"km","UnitType":6},"Imperial":{"Value":10.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":0,"Ceiling":{"Metric":{"Value":12192.0,"Unit":"m","UnitType":5},"Imperial":{"Value":40000.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1022.6,"Unit":"mb","UnitType":14},"Imperial":{"Value":30.2,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Steady","Code":"S"},"Past24HourTemperatureDeparture":{"Metric":{"Value":0.6,"Unit":"C","UnitType":17},"Imperial":{"Value":1.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":8.9,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":6.7,"Unit":"C","UnitType":17},"Imperial":{"Value":44.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":1.6,"Unit":"C","UnitType":17},"Imperial":{"Value":35.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":8.9,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":0.1,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":1.7,"Unit":"C","UnitType":17},"Imperial":{"Value":35.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":9.0,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":1.5,"Unit":"C","UnitType":17},"Imperial":{"Value":35.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":9.0,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":1.5,"Unit":"C","UnitType":17},"Imperial":{"Value":35.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":9.0,"Unit":"C","UnitType":17},"Imperial":{"Value":48.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/us/civic-center-ny/10007/current-weather/2627449?lang=en-us","Link":"http://www.accuweather.com/en/us/civic-center-ny/10007/current-weather/2627449?lang=en-us"}]'
  recorded_at: Thu, 27 Mar 2025 18:55:13 GMT
- request:
    method: get
    uri: https://dataservice.accuweather.com/forecasts/v1/daily/5day/2627449?apikey=<ACCU_API_KEY>&details=true
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '46'
      Am:
      - 'true'
      Akamai-Grn:
      - 0.16cb6068.1743101714.5c1019d
    body:
      encoding: UTF-8
      string: '{"Headline":{"EffectiveDate":"2025-03-29T08:00:00-04:00","EffectiveEpochDate":1743249600,"Severity":4,"Text":"Becoming
        much warmer Saturday","Category":"warmer","EndDate":"2025-03-29T20:00:00-04:00","EndEpochDate":1743292800,"MobileLink":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?lang=en-us","Link":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?lang=en-us"},"DailyForecasts":[{"Date":"2025-03-27T07:00:00-04:00","EpochDate":1743073200,"Sun":{"Rise":"2025-03-27T06:48:00-04:00","EpochRise":1743072480,"Set":"2025-03-27T19:15:00-04:00","EpochSet":1743117300},"Moon":{"Rise":"2025-03-27T05:55:00-04:00","EpochRise":1743069300,"Set":"2025-03-27T17:19:00-04:00","EpochSet":1743110340,"Phase":"WaningCrescent","Age":28},"Temperature":{"Minimum":{"Value":42.0,"Unit":"F","UnitType":18},"Maximum":{"Value":54.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18,"Phrase":"Cold"},"Maximum":{"Value":50.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"RealFeelTemperatureShade":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18,"Phrase":"Cold"},"Maximum":{"Value":47.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"HoursOfSun":11.4,"DegreeDaySummary":{"Heating":{"Value":17.0,"Unit":"F","UnitType":18},"Cooling":{"Value":0.0,"Unit":"F","UnitType":18}},"AirAndPollen":[{"Name":"AirQuality","Value":56,"Category":"Moderate","CategoryValue":2,"Type":"Nitrogen
        Dioxide"},{"Name":"Grass","Value":0,"Category":"Low","CategoryValue":1},{"Name":"Mold","Value":0,"Category":"Low","CategoryValue":1},{"Name":"Ragweed","Value":5,"Category":"Low","CategoryValue":1},{"Name":"Tree","Value":7,"Category":"Low","CategoryValue":1},{"Name":"UVIndex","Value":5,"Category":"Moderate","CategoryValue":2}],"Day":{"Icon":1,"IconPhrase":"Sunny","HasPrecipitation":false,"ShortPhrase":"Breezy
        with plenty of sun","LongPhrase":"Breezy with plenty of sun; elevated fire
        threat in areas of dry brush due to gusty winds and low humidity","PrecipitationProbability":0,"ThunderstormProbability":0,"RainProbability":0,"SnowProbability":0,"IceProbability":0,"Wind":{"Speed":{"Value":11.5,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":280,"Localized":"W","English":"W"}},"WindGust":{"Speed":{"Value":28.8,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":284,"Localized":"WNW","English":"WNW"}},"TotalLiquid":{"Value":0.0,"Unit":"in","UnitType":1},"Rain":{"Value":0.0,"Unit":"in","UnitType":1},"Snow":{"Value":0.0,"Unit":"in","UnitType":1},"Ice":{"Value":0.0,"Unit":"in","UnitType":1},"HoursOfPrecipitation":0.0,"HoursOfRain":0.0,"HoursOfSnow":0.0,"HoursOfIce":0.0,"CloudCover":3,"Evapotranspiration":{"Value":0.12,"Unit":"in","UnitType":1},"SolarIrradiance":{"Value":6573.6,"Unit":"W/m²","UnitType":33},"RelativeHumidity":{"Minimum":21,"Maximum":57,"Average":30},"WetBulbTemperature":{"Minimum":{"Value":32.0,"Unit":"F","UnitType":18},"Maximum":{"Value":40.0,"Unit":"F","UnitType":18},"Average":{"Value":36.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18},"Maximum":{"Value":48.0,"Unit":"F","UnitType":18},"Average":{"Value":44.0,"Unit":"F","UnitType":18}}},"Night":{"Icon":35,"IconPhrase":"Partly
        cloudy","HasPrecipitation":false,"ShortPhrase":"Partly cloudy","LongPhrase":"Partly
        cloudy","PrecipitationProbability":25,"ThunderstormProbability":5,"RainProbability":25,"SnowProbability":0,"IceProbability":0,"Wind":{"Speed":{"Value":8.1,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":235,"Localized":"SW","English":"SW"}},"WindGust":{"Speed":{"Value":18.4,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":250,"Localized":"WSW","English":"WSW"}},"TotalLiquid":{"Value":0.0,"Unit":"in","UnitType":1},"Rain":{"Value":0.0,"Unit":"in","UnitType":1},"Snow":{"Value":0.0,"Unit":"in","UnitType":1},"Ice":{"Value":0.0,"Unit":"in","UnitType":1},"HoursOfPrecipitation":0.0,"HoursOfRain":0.0,"HoursOfSnow":0.0,"HoursOfIce":0.0,"CloudCover":41,"Evapotranspiration":{"Value":0.04,"Unit":"in","UnitType":1},"SolarIrradiance":{"Value":19.9,"Unit":"W/m²","UnitType":33},"RelativeHumidity":{"Minimum":28,"Maximum":57,"Average":39},"WetBulbTemperature":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18},"Maximum":{"Value":39.0,"Unit":"F","UnitType":18},"Average":{"Value":38.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Minimum":{"Value":42.0,"Unit":"F","UnitType":18},"Maximum":{"Value":49.0,"Unit":"F","UnitType":18},"Average":{"Value":46.0,"Unit":"F","UnitType":18}}},"Sources":["AccuWeather"],"MobileLink":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?day=1&lang=en-us","Link":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?day=1&lang=en-us"},{"Date":"2025-03-28T07:00:00-04:00","EpochDate":1743159600,"Sun":{"Rise":"2025-03-28T06:47:00-04:00","EpochRise":1743158820,"Set":"2025-03-28T19:16:00-04:00","EpochSet":1743203760},"Moon":{"Rise":"2025-03-28T06:19:00-04:00","EpochRise":1743157140,"Set":[...]
