---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/forecasts/v1/daily/5day/2627449?apikey=<ACCU_API_KEY>&details=true
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '1'
      Am:
      - 'true'
      Akamai-Grn:
      - 0.0674d117.1743096923.1decace
    body:
      encoding: UTF-8
      string: '{"Headline":{"EffectiveDate":"2025-03-29T08:00:00-04:00","EffectiveEpochDate":1743249600,"Severity":4,"Text":"Becoming
        much warmer Saturday","Category":"warmer","EndDate":"2025-03-29T20:00:00-04:00","EndEpochDate":1743292800,"MobileLink":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?lang=en-us","Link":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?lang=en-us"},"DailyForecasts":[{"Date":"2025-03-27T07:00:00-04:00","EpochDate":1743073200,"Sun":{"Rise":"2025-03-27T06:48:00-04:00","EpochRise":1743072480,"Set":"2025-03-27T19:15:00-04:00","EpochSet":1743117300},"Moon":{"Rise":"2025-03-27T05:55:00-04:00","EpochRise":1743069300,"Set":"2025-03-27T17:19:00-04:00","EpochSet":1743110340,"Phase":"WaningCrescent","Age":28},"Temperature":{"Minimum":{"Value":42.0,"Unit":"F","UnitType":18},"Maximum":{"Value":54.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18,"Phrase":"Cold"},"Maximum":{"Value":50.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"RealFeelTemperatureShade":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18,"Phrase":"Cold"},"Maximum":{"Value":47.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"HoursOfSun":11.3,"DegreeDaySummary":{"Heating":{"Value":17.0,"Unit":"F","UnitType":18},"Cooling":{"Value":0.0,"Unit":"F","UnitType":18}},"AirAndPollen":[{"Name":"AirQuality","Value":58,"Category":"Moderate","CategoryValue":2,"Type":"Nitrogen
        Dioxide"},{"Name":"Grass","Value":0,"Category":"Low","CategoryValue":1},{"Name":"Mold","Value":0,"Category":"Low","CategoryValue":1},{"Name":"Ragweed","Value":5,"Category":"Low","CategoryValue":1},{"Name":"Tree","Value":7,"Category":"Low","CategoryValue":1},{"Name":"UVIndex","Value":5,"Category":"Moderate","CategoryValue":2}],"Day":{"Icon":1,"IconPhrase":"Sunny","HasPrecipitation":false,"ShortPhrase":"Breezy
        with plenty of sun","LongPhrase":"Breezy with plenty of sun; elevated fire
        threat in areas of dry brush due to gusty winds and low humidity","PrecipitationProbability":0,"ThunderstormProbability":0,"RainProbability":0,"SnowProbability":0,"IceProbability":0,"Wind":{"Speed":{"Value":12.7,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":280,"Localized":"W","English":"W"}},"WindGust":{"Speed":{"Value":28.8,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":284,"Localized":"WNW","English":"WNW"}},"TotalLiquid":{"Value":0.0,"Unit":"in","UnitType":1},"Rain":{"Value":0.0,"Unit":"in","UnitType":1},"Snow":{"Value":0.0,"Unit":"in","UnitType":1},"Ice":{"Value":0.0,"Unit":"in","UnitType":1},"HoursOfPrecipitation":0.0,"HoursOfRain":0.0,"HoursOfSnow":0.0,"HoursOfIce":0.0,"CloudCover":4,"Evapotranspiration":{"Value":0.12,"Unit":"in","UnitType":1},"SolarIrradiance":{"Value":6573.3,"Unit":"W/m²","UnitType":33},"RelativeHumidity":{"Minimum":21,"Maximum":57,"Average":30},"WetBulbTemperature":{"Minimum":{"Value":32.0,"Unit":"F","UnitType":18},"Maximum":{"Value":40.0,"Unit":"F","UnitType":18},"Average":{"Value":36.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18},"Maximum":{"Value":48.0,"Unit":"F","UnitType":18},"Average":{"Value":44.0,"Unit":"F","UnitType":18}}},"Night":{"Icon":35,"IconPhrase":"Partly
        cloudy","HasPrecipitation":false,"ShortPhrase":"Partly cloudy","LongPhrase":"Partly
        cloudy","PrecipitationProbability":25,"ThunderstormProbability":5,"RainProbability":25,"SnowProbability":0,"IceProbability":0,"Wind":{"Speed":{"Value":8.1,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":235,"Localized":"SW","English":"SW"}},"WindGust":{"Speed":{"Value":18.4,"Unit":"mi/h","UnitType":9},"Direction":{"Degrees":250,"Localized":"WSW","English":"WSW"}},"TotalLiquid":{"Value":0.0,"Unit":"in","UnitType":1},"Rain":{"Value":0.0,"Unit":"in","UnitType":1},"Snow":{"Value":0.0,"Unit":"in","UnitType":1},"Ice":{"Value":0.0,"Unit":"in","UnitType":1},"HoursOfPrecipitation":0.0,"HoursOfRain":0.0,"HoursOfSnow":0.0,"HoursOfIce":0.0,"CloudCover":41,"Evapotranspiration":{"Value":0.04,"Unit":"in","UnitType":1},"SolarIrradiance":{"Value":19.9,"Unit":"W/m²","UnitType":33},"RelativeHumidity":{"Minimum":28,"Maximum":57,"Average":39},"WetBulbTemperature":{"Minimum":{"Value":37.0,"Unit":"F","UnitType":18},"Maximum":{"Value":39.0,"Unit":"F","UnitType":18},"Average":{"Value":38.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Minimum":{"Value":42.0,"Unit":"F","UnitType":18},"Maximum":{"Value":49.0,"Unit":"F","UnitType":18},"Average":{"Value":46.0,"Unit":"F","UnitType":18}}},"Sources":["AccuWeather"],"MobileLink":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?day=1&lang=en-us","Link":"http://www.accuweather.com/en/us/civic-center-ny/10007/daily-weather-forecast/2627449?day=1&lang=en-us"},{"Date":"2025-03-28T07:00:00-04:00","EpochDate":1743159600,"Sun":{"Rise":"2025-03-28T06:47:00-04:00","EpochRise":1743158820,"Set":"2025-03-28T19:16:00-04:00","EpochSet":1743203760},"Moon":{"Rise":"2025-03-28T06:19:00-04:00","EpochRise":1743157140,"Set":[...]
