---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/2627449?apikey=<ACCU_API_KEY>&details=true
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '2'
      Akamai-Grn:
      - 0.2774d117.1743094589.b9eb75d
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2025-03-27T12:38:00-04:00","EpochTime":1743093480,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":6.1,"Unit":"C","UnitType":17},"Imperial":{"Value":43.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":4.5,"Unit":"C","UnitType":17,"Phrase":"Chilly"},"Imperial":{"Value":40.0,"Unit":"F","UnitType":18,"Phrase":"Chilly"}},"RealFeelTemperatureShade":{"Metric":{"Value":0.7,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":33.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RelativeHumidity":25,"IndoorRelativeHumidity":24,"DewPoint":{"Metric":{"Value":-12.2,"Unit":"C","UnitType":17},"Imperial":{"Value":10.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":293,"Localized":"WNW","English":"WNW"},"Speed":{"Metric":{"Value":22.1,"Unit":"km/h","UnitType":7},"Imperial":{"Value":13.7,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":22.1,"Unit":"km/h","UnitType":7},"Imperial":{"Value":13.7,"Unit":"mi/h","UnitType":9}}},"UVIndex":5,"UVIndexText":"Moderate","Visibility":{"Metric":{"Value":16.1,"Unit":"km","UnitType":6},"Imperial":{"Value":10.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":0,"Ceiling":{"Metric":{"Value":12192.0,"Unit":"m","UnitType":5},"Imperial":{"Value":40000.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1023.7,"Unit":"mb","UnitType":14},"Imperial":{"Value":30.23,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Falling","Code":"F"},"Past24HourTemperatureDeparture":{"Metric":{"Value":-1.7,"Unit":"C","UnitType":17},"Imperial":{"Value":-3.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":6.1,"Unit":"C","UnitType":17},"Imperial":{"Value":43.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":36.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":0.2,"Unit":"C","UnitType":17},"Imperial":{"Value":32.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":6.1,"Unit":"C","UnitType":17},"Imperial":{"Value":43.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":0.3,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.01,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":6.5,"Unit":"C","UnitType":17},"Imperial":{"Value":44.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":6.5,"Unit":"C","UnitType":17},"Imperial":{"Value":44.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":10.0,"Unit":"C","UnitType":17},"Imperial":{"Value":50.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/us/civic-center-ny/10007/current-weather/2627449?lang=en-us","Link":"http://www.accuweather.com/en/us/civic-center-ny/10007/current-weather/2627449?lang=en-us"}]'
  recorded_at: Thu, 27 Mar 2025 16:56:29 GMT
recorded_with: VCR 6.3.1
