---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/locations/v1/cities/geoposition/search?apikey=<ACCU_API_KEY>&q=40.7128,-74.0060
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '4'
      X-Location-Key:
      - '2627449'
      Akamai-Grn:
      - 0.1674d117.1743091094.b2cb62b
    body:
      encoding: UTF-8
      string: '{"Version":1,"Key":"2627449","Type":"City","Rank":85,"LocalizedName":"Civic
        Center","EnglishName":"Civic Center","PrimaryPostalCode":"10007","Region":{"ID":"NAM","LocalizedName":"North
        America","EnglishName":"North America"},"Country":{"ID":"US","LocalizedName":"United
        States","EnglishName":"United States"},"AdministrativeArea":{"ID":"NY","LocalizedName":"New
        York","EnglishName":"New York","Level":1,"LocalizedType":"State","EnglishType":"State","CountryID":"US"},"TimeZone":{"Code":"EDT","Name":"America/New_York","GmtOffset":-4.0,"IsDaylightSaving":true,"NextOffsetChange":"2025-11-02T06:00:00Z"},"GeoPosition":{"Latitude":40.714,"Longitude":-74.003,"Elevation":{"Metric":{"Value":8.0,"Unit":"m","UnitType":5},"Imperial":{"Value":26.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"ParentCity":{"Key":"349727","LocalizedName":"New
        York","EnglishName":"New York"},"SupplementalAdminAreas":[{"Level":2,"LocalizedName":"New
        York","EnglishName":"New York"}],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","Alerts","DailyAirQualityForecast","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast","ProximityNotification-Lightning","Radar","TidalForecast"]}'
  recorded_at: Thu, 27 Mar 2025 15:58:14 GMT
recorded_with: VCR 6.3.1
